h1 {
  text-align: center;
  color: #007acc;
  font-size: 3.5em;
}

.alert{
  text-align: center;
  font-size: 1.5em;
}

h4 {
  text-align: center;
  color: #007acc;
  font-size: 1.4em;
}

ul {
  list-style: none;
}

.form-group {
  margin-left: 10px;
}

.container {
  text-align: center;
}
